@use '~bootstrap/scss/bootstrap';

.comics-thumbs {
    aspect-ratio: 1/1.4;
}

.header-top {
    background-color: #0282f9;
    font-size: 11px;
}

.jumbotron {
    background-image: url('../../public/img/jumbotron.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

}

.load-more-btn {
    background-color: #0282f9;
}

.buy-icons {

    background-color: #0282f9;

    img {
        width: 50px;
    }
}