@use '~bootstrap/scss/bootstrap';

.comics-thumbs {
    aspect-ratio: 1/1.4;
}

.header-top {
    background-color: #0282f9;
    font-size: 11px;
}

.jumbotron {
    background-image: url('../../public/img/jumbotron.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

}

.load-more-btn {
    background-color: #0282f9;
    border: none;
    padding: 5px 70px;
}


.main-comics {

    background-color: #1c1c1c;

}

.main-buy-icons {

    background-color: #0282f9;

    img {
        width: 50px;
    }
}

.footer-links {
    background-image: url('../../public/img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #9e9e9e;
    font-size: 10px;

    .footer-links-container {
        background-image: url('../../public/img/dc-logo-bg.png');
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: 100%;
    }

    .links-row {

        height: 265px;

        a {
            color: #9e9e9e;
            text-decoration: none;
            font-size: 10px;

        }
    }

}